<nav [class.d-none]="!isVisible" class="sidebar d-flex flex-column p-3 bg-dark text-white">
  <img src="assets/img/Black-Fabric-Security-Light2x2.png" alt="Logo" class="img-fluid mx-auto d-block mb-3">
  
  <ul class="nav nav-pills flex-column mb-auto">
    <li><a class="nav-link text-white" routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a class="nav-link text-white" routerLink="/live-map" routerLinkActive="active">Live Map</a></li>
    <li><a class="nav-link text-white" routerLink="/manage-checkpoints" routerLinkActive="active">Checkpoints</a></li>
    <li><a class="nav-link text-white" routerLink="/manage-trajects" routerLinkActive="active">Trajects</a></li>
    <li><a class="nav-link text-white" routerLink="/clients" routerLinkActive="active">Clients</a></li>
    <li><a class="nav-link text-white" routerLink="/sites" routerLinkActive="active">sites</a></li>



    <li><a class="nav-link text-white" routerLink="/guards" routerLinkActive="active">Guards</a></li>
    <li><a class="nav-link text-white" routerLink="/reports" routerLinkActive="active">Reports</a></li>
    <li><a class="nav-link text-white" routerLink="/assignments" routerLinkActive="active">Assignments</a></li>
  </ul>
</nav>
